.authtable{
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}


.authtable.adventure.block{
    width: 100% !important;
}
.authtable-body p{
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.authtable img{
    max-width: 100%;
    width: auto;
    height: 235px;
    object-fit: cover;
}

.authtable .employee-block > div{
    display: flex;
    flex-flow: wrap;
}

@media (width < 900px) {
    .authtable{
        width: 90%;
    }
}